$fontA: Arial, 'Microsoft YaHei', 'Microsoft JhengHei', 'Hiragino Sans GB','Noto Sans JP', STHeiti, sans-serif, 'Noto Sans SC','Noto Sans TC';
$common_yellow: #fea346;
$red: #F00;
$light_blue: #13ace4;
$white: #fff;
